.new_transaction_form {
  border-style: solid;
  border-color: #b38867;
  background-color: #626d71;
  padding: 20px;
  margin: 0px 20px;
  text-align: left;
}

.lbl {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new_cell {
  background-color: #ddbc95;
  height: 30px;
}

.main_data_new_transaction {
  display: flex;
  gap: 3em;
}

.new_notes {
  width: 99%;
}

.button_add {
  height: 30px;
  cursor: pointer;
  background-color: #b38867;
  border-radius: 10px;
  padding: 0px 30px;
  margin-top: 10px;
  margin-left: 10px;
  display: block;
}

.button_add:hover {
  background-color: #a37a5b;
}
.button_add:active {
  background-color: #816148;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
.cancelBtn {
  align-items: right;
}
